.cat-detail {
  margin-top: 50px;
  animation: fadeIn 0.5s ease-in-out;
  margin-left: 100px;
}

.cat-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.cat-image:hover {
  transform: scale(1.1);
}

.card-body {
  text-align: center;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
